# 표준 glob 패턴을 사용
# /로 끝나는 것은 디렉토리로 인식(하위 파일들을 모조리 관리대상에서 out!)
# !!!!!!!!!!!!!!!!!!한번 제외된 디렉토리의 파일들은 다시 추가할 수가 없다!!!!!!!!!!

# 프로젝트 전체 중 node_modules라는 디렉토리 명을 사용하는 하위 파일들은 관리대상에서 제외
node_modules/
dist/
.parcel-cache/
.cache/
.DS_Store