@charset 'UTF-8';

// CSS RESET
@import '../node_modules/modern-normalize/modern-normalize.css';

$background: #f2a154;
$green: #314e52;
$orange: #f27a54;
$light-green: #85b684;
$deep-grey: #909487;
$grey: #a4a79d;
